* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  outline: none;
}
/* Общие стили страницы */
body,
html {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
table {
  position: relative;
}
thead {
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
/* Контейнер для всего содержимого */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок страницы */
.main-title {
  color: #2c3e50;
  text-align: center;
  margin-top: 0;
}

/* Основной текст на странице */
.main-text {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Стилизация таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eaeaea;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}
th button {
  margin: 0;
}
label {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
ul {
  list-style-type: circle;
  padding-left: 20px; /* Ensures proper indentation */
}

ul li {
  margin: 5px 0;
}
/* Чекбоксы внутри таблицы */
input[type="checkbox"] {
  /* margin-right: 10px; */
}

/* Кнопки на странице */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

/* Стилизация блока с результатами */
#results {
  margin-top: 20px;
  padding: 10px;
  background-color: #ecf0f1;
  border-left: 4px solid #3498db;
  font-style: italic;
  display: none;
}
#info {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f0ec;
  border-left: 4px solid #ffcf11;
  display: none;
}
.isBase {
  background-color: #d5f1f1;
}
.isHigh {
  background-color: #d6d5f1;
}
.resultWrapper {
  background-color: white;
  position: sticky;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  left: 0;
}
.actionRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.finalText {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}
.high {
  color: green;
}
.medium {
  color: orange;
}
.low {
  color: red;
}
.level {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  background-color: #555;
}
.level-1 {
  background-color: #db5151;
}
.level-2 {
  background-color: #fdcb6e;
}
.level-3 {
  background-color: #00b894;
}
.buttonBase {
  background-color: #d5f1f1;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
}
.buttonHigh {
  background-color: #d6d5f1;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 13px;
}
.description {
  overflow: hidden;
  height: 100%;
  max-height: 0px;
  transition: 0.6s ease-in-out;
}
.description a {
  text-decoration: none;
  color: rgb(0, 135, 245);
}
.description.open {
  max-height: 700px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f4fbfb;
  border-left: 4px solid #d5f1f1;
}

.reveal-btn {
  cursor: pointer;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reveal-btn img {
  width: 100%;
}
.actionBtn,
.resultWrapper-btn {
  display: flex;
  gap: 10px;
}
.resultWrapper-btn {
  justify-content: space-between;
}
#closeResultsBtn {
  background-color: rgb(255, 71, 71);
  display: none;
}
#downloadResultsBtn {
  background-color: rgb(0, 186, 12);
}
#showInfoBtn {
  background-color: rgb(248, 202, 93);
  display: none;
}
.displaySec {
  display: block !important;
}
@media screen and (max-width: 568px) {
  .actionBtn {
    flex-direction: column;
    gap: 5px;
  }
  .main-title {
    font-size: 14px;
  }
  th button {
    padding: 5px;
    min-width: 100px;
  }
  .resultWrapper-btn {
    flex-direction: column;
  }
  .resultWrapper-btn div {
    justify-content: space-between;
  }
  .resultWrapper-btn button {
    margin-top: 5px;
  }
}
